In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('House_Rent_Dataset.csv')

In [5]:
dataset.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [18]:
dataset.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [12]:
areaType = pd.get_dummies(dataset['Area Type'],drop_first=True)

In [14]:
City = pd.get_dummies(dataset['City'], drop_first=True)

In [17]:
furnishingStatus = pd.get_dummies(dataset['Furnishing Status'] , drop_first=True)

In [20]:
tenantPreferred = pd.get_dummies(dataset['Tenant Preferred'] ,drop_first=True)

In [23]:
bathroom = pd.get_dummies(dataset['Bathroom'] , drop_first=True)

In [28]:
bhk = pd.get_dummies(dataset['BHK'] , drop_first=True)

AttributeError: 'DataFrame' object has no attribute 'dtype'